body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body,
html {
    height: 100%;
    line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
    background-position: initial;
    background-size: cover;
    background-image: url("../images/yummy1.jpeg");
    min-height: 100%;
}

.bgimg-2 {
    background-position: initial;
    background-size: cover;
    background-image: url("../images/ContactPageImg2.jpeg");
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 12px;
}

.w3-button:hover {
    color: #000 !important;
    background-color: rgb(240, 240, 240) !important
}

.w3-row-padding,
.w3-row-padding>.w3-half,
.w3-row-padding>.w3-third,
.w3-row-padding>.w3-twothird,
.w3-row-padding>.w3-threequarter,
.w3-row-padding>.w3-quarter,
.w3-row-padding>.w3-col {
    padding: 0 14px
}

.user-form-entry p
{
    text-align: left;
}

.w3-container h1, p
{
    color: black;
    font-weight: 600;
}

.formstuff {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    background-color: white;
    resize: none;
}

#messagebox {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    background-color: white;
    resize: none;
}

.order-btn {
    width:50%;
    margin: 10px;
    min-width: 180px;
}