body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif
}

body,
html {
    height: 100%;
    line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
    background-position: initial;
    background-size: cover;
    background-image: url("../images/ASUnight3.jpg");
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 12px;
}

.w3-button:hover {
    color: #000 !important;
    background-color: rgb(55, 216, 157) !important
}

.w3-row-padding,
.w3-row-padding>.w3-half,
.w3-row-padding>.w3-third,
.w3-row-padding>.w3-twothird,
.w3-row-padding>.w3-threequarter,
.w3-row-padding>.w3-quarter,
.w3-row-padding>.w3-col {
    padding: 0 14px
}