body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image headers */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../images/yummy1.jpeg");
  min-height: 100%;
}

.bgimg-2 {
  background-position: center;
  background-size: cover;
  background-image: url("../images/yummy2.jpeg");
  min-height: 100%;
}

.bgimg-3 {
  background-position: center;
  background-size: cover;
  background-image: url("../images/yummy3.jpeg");
  min-height: 100%;
}

.bgimg-contact {
  background-position: initial;
  background-size: cover;
  background-image: url("../images/bgimg-contact.png");
  min-height: 100%;
}

.bgimg-about {
  background-position: initial;
  background-size: cover;
  background-image: url("../images/bgimg-about.jpg");
  min-height: 100%;
}

.slideshow-container {
  max-height: -webkit-fill-available;
  contain: content;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.w3-bar .w3-button {
  padding: 12px;
}

.w3-button:hover {
  color: #000 !important;
  background-color: rgb(240, 240, 240) !important
}

.w3-row-padding,
.w3-row-padding>.w3-half,
.w3-row-padding>.w3-third,
.w3-row-padding>.w3-twothird,
.w3-row-padding>.w3-threequarter,
.w3-row-padding>.w3-quarter,
.w3-row-padding>.w3-col {
  padding: 0 14px
}

.user-form-entry p
{
    text-align: left;
}

.w3-container h1, p
{
    color: black;
    font-weight: 600;
}

.formstuff {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    background-color: white;
    resize: none;
}

#messagebox {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    background-color: white;
    resize: none;
}

.field-block {
  min-height: 22rem;
  max-width: 100%;
  background-color: #eeeeee;
  border: 2px solid transparent;
  outline: none;
  border: .2s ease-in-out;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.order-btn {
    width:60%;
    margin: 10px;
    min-width: 180px;
}

.image-block {
    padding-top: 17px;
    clear: both;
    display: block;
}

.image-block-outer-wrapper {
    flex: 0 1 auto;
    text-align: left;
}

.intrinsic {
    max-width: 2500px;
    margin: auto;
}

.block-image-wrapper {
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
}

.thumb-img {
    width: 100%;
    position: absolute;
    max-width: none;
}

.fixed-height-1 {
  height: 170px;
  width: 50%;
  margin: 10px;
  min-width: 180px;
}

* {
  box-sizing: border-box
}

.mØSlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

td.product-results,img.productImages{
  height:200px;
  width: 300px;
  border:2px solid #021a40;
  
}
#form-background{
  width:50px;
  height:100px;
  background-color:aquamarine;
  position: relative;
  z-index: 3;
}

#contact-container{
  background-color:aquamarine;
  position: relative;
}
div.product-info{
  clear:both;
  padding-left:10px;
}
.product-section button{
  float:right;
  font-size:12px; 
  vertical-align: top;
}
.productTable .td-products{
  margin-left:auto; 
  margin-right:auto; 
  margin-top:30px;
  vertical-align: middle;
  padding-left:50px;
}

.about-icon {
  padding: 0 12px;
}

.container {
  margin: auto;
  width: 80%;
}

.badge {
  background-color: #6394F8;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shopping-cart {
  z-index: 3;
  position: fixed;
  top: 50px;
  right: 15px;
  margin: 20px 0;
  float: right;
  background: rgb(245, 245, 245);
  width: 340px;
  border-radius: 3px;
  padding: 20px;
}

.shopping-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
  min-height: 40px;
}
.shopping-cart-items {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}

.shopping-cart-footer {
  padding-bottom: 20px;
}

.shopping-cart-total {
  float: right;
}

.shopping-cart-items img {
  float: left;
  margin-right: 12px;
}

.shopping-cart-items li {
  margin-bottom: 18px;
}

#empty-cart {
  display: block;
  padding: 16px 0;
  font-size: 16px;
}

.item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.item-price {
  color: #6394F8;
  margin-right: 8px;
}

.item-quantity {
  color: #ABB0BE;
}

.shopping-cart:after {
	bottom: 100%;
	left: 89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: rgb(245, 245, 245);
	border-width: 8px;
	margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

